/*
 * Copyright 2013 Christophe-Marie Duquesne <chmd@chmd.fr>
 *
 * CSS for making a resume with pandoc. Inspired by moderncv.
 *
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */

/* Whole document */

@font-face {
    font-family: DejaSans;
    src: url('file:///usr/share/fonts/TTF/DejaVuSans.ttf');
}

@font-face {
    font-family: DejaSans;
    src: url('file:///usr/share/fonts/TTF/DejaVuSans-Bold.ttf');
    font-weight: bold;
}

body {
    font-family: 'DejaSans', 'sans-serif';
    font-size: 11px;
    line-height: 1.4;
    color: #000000;
    width: 750px;
    margin: 0px auto 0px auto;
    background: #FFFFFF;
    padding: 0px 10px 10px 10px;
}

* {
    box-sizing: border-box;
}

.level1:first-of-type > h1 {
    font-size: 36px;
    line-height: 50px;
    color: #404040;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

/* First level 2 */
.level1:first-of-type > .level2:first-of-type {
    position: relative;
    height: 250px;
    margin-bottom: 20px;
}

.level1:first-of-type > .level2:first-of-type > .level3 {
    display: inline-block;
    width: 480px;
}

.level1:first-of-type > .level2:first-of-type > .level3 > * {
    display: block;
    width: 340px;
}

.level1:first-of-type > .level2:first-of-type > .level3 > h3 {
    width: 126px;
}

.level1:first-of-type > .level2:first-of-type > figure {
    display: inline-block;
    width: 250px;
    max-width: 250px;
    max-height: 250px;
    position: absolute;
    top: 0;
    right: 0;
}

.level1:first-of-type > .level2:first-of-type > figure > img {
    float: right;
    max-width: 250px;
    max-height: 250px;
}

/* Titles of categories */
h2 {
    font-size: 15px;
    color: #0D5173;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* There is a bar just before each category */
h2:before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 130px;
    height: 10px;
    background-color: #0D5173;
}

p {
    margin-top: 0;
    margin-bottom: 0px;
}

/* Blockquotes */
blockquote {
    text-align: center;
}

/* Links */
a {
    text-decoration: none;
    color: #0D5173;
}

a:hover, a:active {
    background-color: #0D5173;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

/* Horizontal separators */
hr {
    color: #A6A6A6;
}

/* Image Rules */
figure {
    margin: 0;
}

figure figcaption {
    display: none;
}

figure img {
    max-width: 250px;
    max-height: 250px;
}

.level3 {
    position: relative;
    margin-bottom: 5px;
    overflow: auto;
}

.level3 h3 {
    float: left;
    width: 126px;
    margin: 0;
    font-size: 11px;
}

.level3 > * {
    margin-left: 140px;
    width: 590px;
    padding-left: 0;
}

ul {
    list-style-type: square;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px !important;
}

.pagebreak {
    page-break-before: always;
    margin: 0;
}
